.fw-shortcode-econstructions .accordion {
	--bs-accordion-color: #fff;
	--bs-accordion-bg: transparent;
	--bs-accordion-border-color: rgb(var(--bs-dark-rgb));
	--bs-accordion-border-radius: 0;
	--bs-accordion-inner-border-radius: 0;
	--bs-accordion-active-color: #ff0;
	--bs-accordion-active-bg: transparent;
	--bs-accordion-body-padding-x: 1rem;
	--bs-accordion-body-padding-y: 1rem;

	--bs-accordion-btn-color: #fff;
	--bs-accordion-btn-bg: #000;
}
.fw-shortcode-econstructions .accordion .accordion-button {
	font-size: 30px;
	font-weight: 600;
	justify-content: center;
	text-align: center;
}
.fw-shortcode-econstructions .accordion .accordion-button:not(.collapsed) {
	background: #000;
}
.fw-shortcode-econstructions .accordion .accordion-button::after {
	display: none;
}
.fw-shortcode-econstructions .accordion .accordion-item:not(:first-of-type) {
	border-top: rgb(var(--bs-dark-rgb)) 1px solid;
}
.fw-shortcode-econstructions .accordion .accordion-button:focus {
	box-shadow: none;
}
.fw-shortcode-econstructions .econstruction-thumbnail {
	padding-bottom: 60%;
	overflow: hidden;
}
.fw-shortcode-econstructions .thumbnail-image {
	background: #0e0d0d;
}
.fw-shortcode-econstructions .thumbnail-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fw-shortcode-econstructions .estimate-item .econstruction-thumbnail .thumbnail-image,
.fw-shortcode-econstructions .estimate-item .econstruction-info {
	opacity: 0.3;
}
.fw-shortcode-econstructions .estimate-item .progressing-bar,
.fw-shortcode-econstructions .estimate-item .econstruction-thumbnail .econstruction-control {
	opacity: 0.6;
}
.fw-shortcode-econstructions .estimate-item.active .progressing-bar,
.fw-shortcode-econstructions .estimate-item.active .econstruction-thumbnail .thumbnail-image,
.fw-shortcode-econstructions .estimate-item.active .econstruction-thumbnail .econstruction-control,
.fw-shortcode-econstructions .estimate-item.active .econstruction-info {
	opacity: 1;
}
.fw-shortcode-econstructions .estimate-item .econstruction-thumbnail:after {
	display: block;
	content: "ẨN";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	font-size: 40px;
}
.fw-shortcode-econstructions .estimate-item.active .econstruction-thumbnail:after {
	display: none;
}
.fw-shortcode-econstructions .estimate-item .econstruction-hide::before {
	display: inline-block;
	font-family: 'dashicons';
	content: "\f543";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
}
.fw-shortcode-econstructions .estimate-item.active .econstruction-hide::before {
	content: "\f460";
}
