.fw-shortcode-designs .accordion {
	--bs-accordion-color: #fff;
	--bs-accordion-bg: transparent;
	--bs-accordion-border-color: rgb(var(--bs-dark-rgb));
	--bs-accordion-border-radius: 0;
	--bs-accordion-inner-border-radius: 0;
	--bs-accordion-active-color: #ff0;
	--bs-accordion-active-bg: transparent;
	--bs-accordion-body-padding-x: 1rem;
	--bs-accordion-body-padding-y: 1rem;

	--bs-accordion-btn-color: #fff;
	--bs-accordion-btn-bg: #000;
}
.fw-shortcode-designs .accordion .accordion-button {
	font-size: 30px;
	font-weight: 600;
	justify-content: center;
	text-align: center;
}
.fw-shortcode-designs .accordion .accordion-button:not(.collapsed) {
	background: #000;
}
.fw-shortcode-designs .accordion .accordion-button::after {
	display: none;
}
.fw-shortcode-designs .accordion .accordion-item:not(:first-of-type) {
	border-top: rgb(var(--bs-dark-rgb)) 1px solid;
}
.fw-shortcode-designs .accordion .accordion-button:focus {
	box-shadow: none;
}
.fw-shortcode-designs .design-thumbnail {
	padding-bottom: 60%;
	overflow: hidden;
}
.fw-shortcode-designs .thumbnail-image {
	background: #0e0d0d;
}
.fw-shortcode-designs .thumbnail-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fw-shortcode-designs .design .dates .col {
	height: 40px;
	line-height: 40px;
}
.fw-shortcode-designs .design .dates .col::after {
	display: block;
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	background: rgba(var(--bs-dark-rgb),var(--bs-border-opacity));
	top: 0;
	right: 0;
}
.fw-shortcode-designs .design .dates .col:last-child::after {
	display: none;
}